include LICENSE
include README.md
include ROADMAP.md
recursive-include src *.py
recursive-include src *.html
recursive-include tests *.py
recursive-include k8s *.yaml
recursive-include terraform *.tf
recursive-include docker *file *Dockerfile *.yml
prune __pycache__
prune *.egg-info
prune .pytest_cache
prune .mypy_cache
prune .ruff_cache
global-exclude *.pyc *.pyo
